.App {
  text-align: center;
  height: 100%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calc-div {
  width:30%;
  border: 3px solid #849695;
  border-radius: 8%;
  margin-bottom: 3%;

}

.typing-div {
  height: 40px;
  margin-bottom: 2%;
}

.autocomplete-div {
  width: 25%;
  height: 300px;
  background-color:#4f44f4;
  border: 3px black solid;
  padding-bottom: 150px;
  margin-bottom: 10px;
}

.autocomplete-header {
  height: 18px;
  margin-top: 15px;
}

.name-search{
  width:60%;
}

.name-list {
  height: 80%;
  line-height: 1.2em;
  margin-top: 3px;
}

.name-list li {
  font-size: 20px;
}

li span {
  position: relative;
  left: -10%;
}

.clock-header {
  padding-left: 1em;
  padding-right: 1em;
}

.clock-widget {
  background-color: #f77416;
  border: 3px solid black;
  border-radius: 5%;
}

.nav-div {
  width: 450px;
  margin-top: 30px;
  border: 3px solid white;
  border-radius: 3%;
}

.nav-link {
  color: white;
  list-style-type: none;
  margin-top:10px;
}

a {
  text-decoration: none;
}

.nav-content {
  margin-top: 30px;
  padding-bottom: 120px;
  border: 3px solid tomato;
  background-color:#f0f0f0;
  color: black;
}

.tabs-container {
  margin-top: 20px;
  width: 50%;
  height: 200px;
}

.tabs-head-container{
  display: flex;
  justify-content: center;
  width: 320px;
  height: 30px;
  padding: 0px;
  margin-bottom: 0;
  margin-left: 30%;
  margin-right: 30%;
}

.tab-head {
  color: #0f0f0f;
  width: 33%;
  background-color: #fafafa;
  border: 1px solid black;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  margin-left: 0px;
  margin-right: 0px;
}

.tab-head:first-child {
  border-left: 2px solid black;
  padding-left:0px;
}

.active {
  border-bottom: 0px;
  font-weight: bold;
}

.content {
  background-color:white;
  color: black;
  height: 60%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 4rem;
  margin-left: 17.2%;
  margin-right: 17.0%;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}